/* Media Query untuk Smartphone */
@media screen and (max-width: 600px) {
  .header {
    height: 80px;
    padding: 20px;
  }
  .header-logo {
    font-size: 26px;
    padding: 10px;
  }

  .copy-container {
    width:100%;
  }

  .tentang-saya {
    padding: 20px;
  }

  .tentang-saya p {
    font-size: 16px;
  }

  .contents {
    padding: 20px;
  }


  .contents-item p {
    font-size: 14px;
  }

  .contact-form {
    padding: 20px;
  }

  .contact-form input,
  .contact-form textarea {
    width: 70%;
    font-size: 14px;
  }

  .contact-submit {
    width: 70%;
  }

  .footer {
    height: 80px;
    padding: 20px;
  }

  .footer-logo {
    font-size: 20px;
  }
}

/* Media Query untuk Tablet */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .header {
    height: 100px;
    padding: 30px;
  }
  
  .header-logo {
    font-size: 28px;
    padding: 15px;
  }

  .tentang-saya {
    padding: 40px;
  }

  .tentang-saya p {
    font-size: 18px;
  }

  .contents {
    padding: 30px;
  }

  
  .contents-item p {
    font-size: 16px;
  }

  .contact-form {
    padding: 40px;
  }

  .contact-form input,
  .contact-form textarea {
    width: 80%;
    font-size: 16px;
  }

  .contact-submit {
    width: 80%;
  }

  .footer {
    height: 100px;
    padding: 30px;
  }

  .footer-logo {
    font-size: 24px;
  }
}


