/* Media Query untuk Smartphone */
@media screen and (max-width: 600px) {
  .header {
    height: 80px;
    padding: 10px;
  }

  .header-logo {
    font-size: 20px;
    padding: 10px;
  }

  .copy-container h1 {
    font-size: 70px;
    margin-bottom: -10px;
  }

  .copy-container h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .copy-container img {
    height: 100px;
  }

  .tentang-saya {
    padding: 20px;
  }

  .tentang-saya p {
    font-size: 16px;
  }

  .contents {
    padding: 20px;
    margin-top: 70px;
    height: auto;
  }

  .contents-item {
    margin-right: 10px;
    margin-left: 10px;
  }

  .contents-item p {
    font-size: 16px;
    margin-top: 10px;
  }

  .contact-form {
    padding: 20px;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
    font-size: 14px;
  }

  .contact-submit {
    width: 100%;
  }

  .footer {
    height: 80px;
    padding: 10px;
  }

  .footer-logo {
    font-size: 20px;
  }
}

/* Media Query untuk Tablet */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .header {
    height: 100px;
    padding: 30px;
  }

  .header-logo {
    font-size: 28px;
    padding: 15px;
  }

  .copy-container h1 {
    font-size: 120px;
    margin-bottom: -15px;
  }

  .copy-container h2 {
    font-size: 35px;
    margin-bottom: 25px;
  }

  .copy-container img {
    height: 120px;
  }

  .tentang-saya {
    padding: 40px;
  }

  .tentang-saya p {
    font-size: 18px;
  }

  .contents {
    padding: 30px;
    margin-top: 100px;
    height: auto;
  }

  .contents-item {
    margin-right: 20px;
    margin-left: 20px;
  }

  .contents-item p {
    font-size: 18px;
    margin-top: 20px;
  }

  .contact-form {
    padding: 40px;
  }

  .contact-form input,
  .contact-form textarea {
    width: 80%;
    font-size: 16px;
  }

  .contact-submit {
    width: 80%;
  }

  .footer {
    height: 100px;
    padding: 30px;
  }

  .footer-logo {
    font-size: 24px;
  }
}
}


