* {
    margin: 0;
    padding: 0;

  }


body {
    /*font-family:Arial, Helvetica, sans-serif;*/
    font-family:Segoe UI;
}

li {
    list-style: none;
    float:left;
    padding:33px 20px;
}

.header {
    position:sticky;
    top:0;
    background-color:black;
    height:90px;
    padding:10px;
    z-index:100;
    color:white;
}

.header-logo {
    font-size:36px;
    float:left;
    padding:20px 40px;
    
}

.header-list li {
    float:left;
    padding:33px 20px;
}

.main section{
    /* padding:100px 80px; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom:70px;
}


.copy-container {
    text-align:center;
    overflow: hidden; /* Pastikan overflow diatur ke "hidden" untuk menghilangkan efek gambar yang keluar dari container saat di-zoom */
}

.copy-container h1 {
    font-size:140px;
    margin-bottom:-20px;
}

.copy-container h2 {
    font-size:40px;
    margin-bottom:30px;

    
}

.copy-container span{
 color:yellow
}

.copy-container img {
    height:150px;
}

.tentang-saya{
    background-color: #b9c1c56c;
    padding:100px;

}

.tentang-saya p {
    text-align: center;
    padding-bottom:30px;
}
.contents {
    height:500px;
    margin-top:100px;
    padding-top:50px;
    
    
}

.proyek-contoh {
    display:flex;
    flex-direction: row;
    padding-bottom:100px;
}

.proyek-contoh img {
    width:100%;
    padding-top:20px;
}
.section-title {
    font-size:30px;
    padding-bottom:15px;
    margin-bottom:5px; 

    
}

.contents-item {
    float:left;
    margin-right:30px;
    margin-left:30px;
    text-align: center;
}

/* Gaya gambar */
.contents-item img {
    width: 100%; /* Gunakan lebar 100% agar gambar mengisi seluruh container */
    transition: transform 0.3s; /* Efek transisi transformasi saat hover */
    cursor:pointer;
}

/* Efek zoom in saat hover */
.contents-item img:hover {
    transform: scale(1.2); /* Skala gambar menjadi 1.1 kali dari ukuran aslinya saat hover */
}

.contents-item p {
    font-size:24px;
    margin-top:30px;
}

.contact-form {
    background-color: #b9c1c56c;
    padding:100px;
}
.contact-form form{
    padding-top:10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

input, textarea {
    width:500px;
    margin-top:10px;
    margin-bottom:20px;
    padding:10px;
    font-family:Segoe UI;
    font-size:10px;
    border:1px solid #dee7ec;
    
}


.contact-submit {
    width:300px;
    background-color:rgba(236, 205, 79, 0.814);
    color :#010a0f;
    font-size:15px;
   
    
}

/* Gaya tombol kirim */
.contact-submit {
    background-color:rgba(236, 205, 79, 0.814);/* Warna latar belakang tombol saat tidak ditekan */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* Efek tombol ketika ditekan */
  .contact-submit:active {
    background-color:rgba(51, 42, 5, 0.814); /* Warna latar belakang tombol saat ditekan */
  }

.footer {
    background-color:rgba(82, 80, 80, 0.763);
    color:white;
    height: 120px;
    padding:40px 40px;
}

.footer-logo {
    float: left;
    font-size:32px;
    
}

.footer-list {
    float:right;
}
.footer-list ul{
    display:flex;
    flex-direction: column;
    text-align: center;
}

.footer-list li {
    padding:0px;
    padding-bottom:10px;
}
