/* Untuk Ukuran Layar 600px atau Kurang (Smartphone) */
@media screen and (max-width: 600px) {
  .header {
    height: auto;
    padding: 10px;
    text-align: center;
  }

  .header-logo {
    font-size: 24px;
    padding: 10px 20px;
    float: none;
  }

  .header-list {
    float: none;
  }

  .menu-icon {
    display: block;
  }

  .header-list li {
    padding: 15px 10px;
    float: none;
    text-align: center;
  }

  .main section {
    padding: 50px;
  }

  .copy-container h1 {
    font-size: 80px;
    margin-bottom: 0;
  }

  .copy-container h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .copy-container img {
    height: 100px;
  }

  .tentang-saya {
    padding: 50px;
  }

  .tentang-saya p {
    text-align: center;
    padding-bottom: 30px;
  }

  .contents {
    height: auto;
    margin-top: 50px;
  }

  .proyek-contoh {
    flex-direction: column;
    padding-bottom: 50px;
  }

  .section-title {
    font-size: 24px;
    padding-bottom: 10px;
    margin-bottom: 5px;
  }

  .slides .slide {
    flex: 0 0 100%; 
    margin-right: 0;
    margin-left: 0;
  }

  .slides .slide img {
    width: 100%; 
  }

  .slides .slide p {
    margin-left: 0; 
  }

  .contact-form {
    padding: 50px;
  }

  .contact-form form {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input,
  textarea {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    font-family: Segoe UI;
    font-size: 16px;
    border: 1px solid #dee7ec;
  }

  .contact-submit {
    width: 100%;
  }

  .footer {
    height: auto;
    padding: 20px;
    text-align: center;
  }

  .footer-logo {
    font-size: 24px;
    float: none;
    margin-bottom: 10px;
  }

  .footer-list {
    float: none;
  }

  .footer-list li {
    padding-bottom: 5px;
  }
}

/* Untuk Ukuran Layar 601px hingga 1024px (Tablet) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .header-logo {
    font-size: 32px;
  }

  .header-list li {
    padding: 25px 15px;
  }

  .copy-container h1 {
    font-size: 120px;
  }

  .copy-container h2 {
    font-size: 32px;
  }

  .copy-container img {
    height: 120px;
  }

  .tentang-saya {
    padding: 80px;
  }

  .tentang-saya p {
    font-size: 20px;
  }

  .contents {
    height: auto;
    margin-top: 80px;
  }

  .proyek-contoh {
    flex-direction: row;
    padding-bottom: 100px;
  }

  .section-title {
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 10px;
  }

  .slides .slide {
    flex: 0 0 48%; 
    margin-right: 2%; 
    margin-left: 2%;
  }

  .slides .slide img {
    width: 100%; 
  }

  .slides .slide p {
    margin-left: 0; 
  }


  .contact-form {
    padding: 80px;
  }

  .contact-form input,
  .contact-form textarea {
    width: 80%;
    font-size: 18px;
  }

  .contact-submit {
    width: 80%;
  }

  .footer {
    height: 100px;
    padding: 30px;
  }

  .footer-logo {
    font-size: 28px;
  }
}

/* Untuk Ukuran Layar 1025px atau Lebih Besar (Desktop) */
@media screen and (min-width: 1025px) {
  /* Tidak ada perubahan tampilan untuk ukuran desktop pada contoh ini */
}

