/* Styling untuk tampilan tablet (lebar layar 768px - 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
      /* Atur lebar elemen header untuk tampilan tablet */
      width: 100%;
      padding: 10px;
    }
  
    .header-logo {
      /* Atur ukuran font untuk logo pada tampilan tablet */
      font-size: 1.5rem;
    }
  
    .header-list li {
      /* Atur margin untuk menu pada tampilan tablet */
      margin: 0 10px;
    }
  
    .main {
      /* Atur gaya CSS untuk konten utama (main) pada tampilan tablet */
      padding-top: 60px;
    }
  
    .section-title {
      /* Atur ukuran font untuk judul section pada tampilan tablet */
      font-size: 1.2rem;
    }
  
    .contents-item {
      /* Atur lebar elemen item pada tampilan tablet */
      width: 30%;
    }
  
    .contact-form input,
    .contact-form textarea,
    .contact-submit {
      /* Atur lebar elemen form pada tampilan tablet */
      width: 100%;
    }
  
    /* Atur gaya CSS lainnya untuk tampilan tablet */
  }
  
  /* Styling untuk tampilan ponsel (lebar layar di bawah 768px) */
  @media screen and (max-width: 767px) {
    .header {
      /* Atur lebar elemen header untuk tampilan ponsel */
      width: 100%;
      padding: 10px;
    }
  
    .header-logo {
      /* Atur ukuran font untuk logo pada tampilan ponsel */
      font-size: 1.2rem;
    }
  
    .header-list {
      /* Atur tata letak menu pada tampilan ponsel menjadi vertikal */
      display: block;
      text-align: center;
    }
  
    .header-list li {
      /* Atur margin dan padding untuk menu pada tampilan ponsel */
      margin: 10px 0;
      padding: 5px;
    }
  
    .main {
      /* Atur gaya CSS untuk konten utama (main) pada tampilan ponsel */
      padding-top: 50px;
    }
  
    .section-title {
      /* Atur ukuran font untuk judul section pada tampilan ponsel */
      font-size: 1rem;
    }
  
    .contents-item {
      /* Atur lebar elemen item pada tampilan ponsel */
      width: 100%;
    }
  
    .contact-form input,
    .contact-form textarea,
    .contact-submit {
      /* Atur lebar elemen form pada tampilan ponsel */
      width: 100%;
    }
    /* Atur gaya CSS lainnya untuk tampilan ponsel */
  }
  
